@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
	background-color: $zeus;
	border-bottom: 1px solid rgba($white, 0.21);
	padding-left: $padding_sm;
	padding-right: $padding_sm;
	padding-top: rem(33);
	padding-bottom: rem(33);
	position: sticky;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99;
	transition: padding 0.4s ease-in-out;

	&.sticked {
		padding-top: rem(18);
		padding-bottom: rem(18);
	}

	@media (min-width: $breakpoint-md) {
		padding-left: rem(41);
		padding-right: rem(41);
	}
}

.wrapper {
	display: flex;
	justify-content: space-between;
}
