@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.card {
	border-radius: $border-radius;
	background-color: $mirage;
	padding: rem(26);
}

.name {
	margin: rem(40) 0 0 0; // Reduced from 49 because is appearing too much distance
}

.image {
	background-color: #22232c;
	border-radius: $border-radius;
}

.description {
	margin: rem(10) 0 0 0;
	display: -webkit-box;
	line-clamp: 3;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.price {
	display: flex;
	align-items: center;
	gap: rem(10);
	margin: rem(20) 0 0 0;
}

.price_text {
	font-weight: 600;
	font-size: rem(20);
}
