@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.card {
	border-radius: $border-radius;
	background-color: $mirage;
	padding: rem(26);
	transition: box-shadow 0.4s ease-in-out;

	&:hover {
		box-shadow:
			0 6px 12px -2px rgba($mirage, 0.15),
			0 4px 6px -4px rgba($mirage, 0.1);
	}
}

.name {
	margin: rem(40) 0 0 0; // Reduced from 49 because is appearing too much distance
}

.image {
	background-color: #22232c;
	border-radius: $border-radius;
	width: 100%;
	object-fit: cover;
}

.description {
	margin: rem(10) 0 0 0;
	display: -webkit-box;
	line-clamp: 3;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.price {
	display: flex;
	align-items: center;
	gap: rem(10);
	margin: rem(20) 0 0 0;

	span {
		font-weight: 600;
		font-size: rem(20);
	}
}

.button_add_cart {
	margin-top: rem(24);
}
