@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.list {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: rem(27);
	margin-top: rem(40); // 164px too far
}
