@use '../../styles/variables' as *;

.spinner {
	width: 30px;
	height: 30px;
	border: 2px solid transparent;
	border-top-color: $white;
	border-radius: 50%;
	animation: spin 1s linear infinite;

	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}
}
