@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: rem(20);
	border-radius: $border_radius;
	font-weight: 700;
	transition:
		background-color 0.3s ease-in-out,
		color 0.3s ease-in-out;
	color: $white;
	text-align: center;
	width: -webkit-fill-available;

	&:disabled {
		opacity: 0.6;
	}

	&.primary {
		background-color: $orange;

		&:enabled:hover {
			background-color: $iridium;
		}
	}

	&.gray {
		background-color: $iridium;

		&:enabled:hover {
			background-color: $orange;
		}
	}

	&.sm {
		font-size: rem(16);
		padding: rem(22);
		text-transform: uppercase;
	}

	&.lg {
		font-size: rem(20);
		padding: rem(30);
	}

	@media (min-width: $breakpoint-md) {
		max-width: 400px;
	}
}
