@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.section {
	padding: rem(40) 0 rem(60) 0;

	@media (min-width: $breakpoint-lg) {
		padding: rem(40) 0 rem(70) 0;
	}

	@media (min-width: $breakpoint-lg) {
		padding: rem(80) 0 rem(100) 0;
	}

	@media (min-width: $breakpoint-xl) {
		padding: rem(189) 0;
	}
}

.wrapper {
	display: grid;
	justify-content: space-between;
	gap: rem(25);
	list-style: none;
	padding: 0;

	@media (min-width: $breakpoint-sm) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: $breakpoint-lg) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (min-width: $breakpoint-xl) {
		grid-template-columns: repeat(4, 1fr);
	}
}
