@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.footer {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgba($white, 0.44);
	margin-top: rem(80);
	padding: rem(25);

	@media (min-width: $breakpoint-md) {
		margin-top: rem(189);
	}
}
