@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.button {
	margin: 0 auto;
}

.progress {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	height: 6px;
	background: $iridium;
	border-radius: 999px;
	overflow: hidden;
	margin-bottom: rem(11);
}

.progress_bar {
	height: 100%;
	background: $orange;
	transition: width 0.3s ease;
}
