@use './variables' as variables;
@use './mixins' as mixins;

* {
	font-family: var(--font-poppins);
	font-smooth: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: variables.$zeus;
	color: variables.$white;

	.global-layout {
		& > main {
			padding: 0 variables.$padding_sm;
		}
	}
}

img,
figure {
	max-width: 100%;
	height: auto;
}

embed,
iframe,
object {
	max-width: 100%;
}

.container {
	max-width: 1455px;
	margin-left: auto;
	margin-right: auto;
}

button {
	border: none;
	background: none;

	&:enabled {
		cursor: pointer;
	}

	&:disabled {
		cursor: not-allowed;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.stretched-link::after {
	content: '';
	position: absolute;
	inset: 0;
	z-index: 1;
}
