@use './variables' as variables;

* {
	
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

body {
	font-family: var(--font-poppins);
	background-color: variables.$zeus;
	color: variables.$white;
}

img,
figure {
	max-width: 100%;
	height: auto;
}

embed,
iframe,
object {
	max-width: 100%;
}