@use './mixins' as mixins;

// Colors
$orange: #ff8310;
$zeus: #232323;
$mirage: #191a20;
$iridium: #393939;
$grey: #cccccc;
$white: #ffffff;

// Headings
$base: mixins.rem(12);
$h2_lg: mixins.rem(24);
$h3_lg: mixins.rem(18);

// Border Radius
$border-radius: mixins.rem(8);

// Breakponts
$breakpoint-sm: 420px;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1366px;

// Padding
$padding_sm: mixins.rem(20);
