// Colors
$orange: #FF8310;
$zeus: #232323;
$mirage:#191A20;
$iridium: #393939;
$grey: #CCCCCC;
$white: #FFFFFF;

// Headings
$base: .75rem; // 12px
$h2_lg: 1.125rem; // 18px

// Border Radius
$border-radius: 0.5rem; // 8px
