@use './mixins' as mixins;

// Colors
$orange: #FF8310;
$zeus: #232323;
$mirage:#191A20;
$iridium: #393939;
$grey: #CCCCCC;
$white: #FFFFFF;

// Headings
$base: mixins.rem(12); 
$h2_lg: mixins.rem(18);

// Border Radius
$border-radius: mixins.rem(8);